.link {
	@apply inline-flex justify-items-center text-primary text-xl leading-6 font-somaRoman font-medium transition ease-in-out cursor-pointer;

	&:hover {
		@apply text-blue-700;
	}

	&:focus {
		@apply outline-none;
	}
}

.logo {
	@apply cursor-pointer transform duration-100 ease-in-out;

	&:hover {
		@apply shadow-md;
		transform: scale(0.99);
	}
}
