@font-face {
	font-family: 'goudy-bookletter-1911', serif;
	font-weight: 400;
	src: url('https://use.typekit.net/cub6off.css') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-weight: 400;
	src: url('https://use.typekit.net/cub6off.css') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'neue-haas-grotesk-display', sans-serif;
	font-weight: 400;
	src: url('https://use.typekit.net/cub6off.css') format('woff2');
	font-display: swap;
}

:root {
	--background-primary: #ffffff;
	--background-auxiliary: #f1f3f5;

	--text-base: #000000;
	--text-primary: #000000;
	--text-auxiliary: #151515;
	--text-tertiary: #505050;
	--text-quaternary: #ffffff;

	--fill-primary: #ffffff;
	--fill-auxiliary: #ff9933;

	--stroke-primary: #FFFFFF;
	--stroke-auxiliary: #FF9933;
	@apply font-header;
	@apply font-somaRoman;
	@apply font-somaDisplay;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
	font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

html,
body {
	font-family: var(--font-somaRoman);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-primary);
	color: var(--text-primary);
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
